.footer{
  background-color:#fcf5e5;
  padding: 60px;
}
.footer__copyright{
  font-family: "Poppins",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #212121;
  opacity: 70%;
}


